body {
	font-family: Arial, sans-serif;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f0f0f0;
}

.registro {
	background-color: hsl(0, 0%, 100%);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	border-radius: 8px;
	text-align: center;
}

.appello {
	list-style: none;
	padding: 0;
}

.studente {
	border: 1px solid #ddd;
	border-radius: 8px;
	margin-bottom: 10px;
	padding: 10px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.studente:hover {
	background-color: #f9f9f9;
}

.header {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
}

.nome,
.cognome {
	flex: 1;
}

.voti {
	list-style: none;
	padding: 0;
	margin-top: 10px;
}

.voti li {
	display: flex;
	justify-content: space-between;
	padding: 5px 0;
}

span {
	font-weight: bold;
	margin-right: 10px;
}
